<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/pagination.css">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/htmleaf-demo.css">
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <style type="text/css">
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        table tbody tr:nth-child(odd){background:#F4F4F4;}
        table tbody td:nth-child(even){color:#C00;}
    </style>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">教师列表</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查询条件</div>
                                <input id="queryText" class="form-control has-success" type="text" placeholder="请输入查询条件">
                            </div>
                        </div>
                        <button id="queryBtn" type="button" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询</button>
<!--$("tbody").html(content);
$("#sel").append(option);
-->
                        请选择状态：<select id="sel">
                                         <option value="12">0</option>
                                         <option value="22">1</option>
                                   </select>

                        <!--$("select option:selected")-->
                    </form>
<button  type="button" id="btnExport" class="btn btn-danger"  style="float:right;margin-left:10px;">
    <i class=" glyphicon glyphicon-remove"></i>导出exexl表</button>
<!--onclick="javascript:method1('tableExcel');"-->
<button type="button" class="btn btn-primary" style="float:right;" onclick="window.location.href='addTeacher'">
    <i class="glyphicon glyphicon-plus"></i> 新增</button>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">

                        <table id="tableExcel" class="table  table-bordered">
                            <thead>
                            <tr >
                                <th width="30">#</th>
                                <th width="30"><input id='allcheckbox' type="checkbox"></th>
                                <th>名称</th>
                                <th >头衔</th>
                                <th >资历</th>
                                <th type="align:center">简介</th>
                                <th >添加时间</th>
                                <th >排序</th>
                                <th colspan="2">操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            <!--这里放表格中的内容-->
                            </tbody>

                            <tfoot>
                            <tr >
                                <td colspan="9" align="center">
                                    <!--<ul class="pagination">-->
                                    <div id="Pagination" class="pagination"></div>
                                    <!--</ul>-->
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        <div>
                            <a onclick="window.location.href='index'" style="color:orangered">回到首页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="script/docs.min.js"></script>
<script src="jquery/layer/layer.js"></script>
<script src="jquery/jquery.pagination.js"></script>
<script src="js/xlsx.core.min.js"></script>

<!--导出excle插件-->
<script type="text/javascript" src="external/jszip.js"></script>
<script type="text/javascript" src="external/FileSaver.js"></script>
<script type="text/javascript" src="scripts/excel-gen.js"></script>
<script type="text/javascript" src="scripts/demo.page.js"></script>

<!--_footer 作为公共模版分离出去-->
<!--<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>-->
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script src="js/tableExport.js"></script>
<script type="text/javascript">

    $(function () {
        $(".list-group-item").click(function(){
            if ( $(this).find("ul") ) {
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
        queryPage(0);
        datetimeFormat_2(longTypeDate);
    });
    function datetimeFormat_2(longTypeDate) {
        var datetimeType = "";
        var date = new Date();
        date.setTime(longTypeDate);
        datetimeType += date.getFullYear();   //年
        datetimeType += "-" + getMonth(date); //月
        datetimeType += "-" + getDay(date);   //日
        datetimeType += "&nbsp;&nbsp;" + getHours(date);   //时
        datetimeType += ":" + getMinutes(date);      //分
        datetimeType += ":" + getSeconds(date);      //分
        return datetimeType;
    }

    //返回 01-12 的月份值
    function getMonth(date) {
        var month = "";
        month = date.getMonth() + 1; //getMonth()得到的月份是0-11
        if (month < 10) {
            month = "0" + month;
        }
        return month;
    }

    //返回01-30的日期
    function getDay(date) {
        var day = "";
        day = date.getDate();
        if (day < 10) {
            day = "0" + day;
        }
        return day;
    }

    //返回小时
    function getHours(date) {
        var hours = "";
        hours = date.getHours();
        if (hours < 10) {
            hours = "0" + hours;
        }
        return hours;
    }

    //返回分
    function getMinutes(date) {
        var minute = "";
        minute = date.getMinutes();
        if (minute < 10) {
            minute = "0" + minute;
        }
        return minute;
    }

    //返回秒
    function getSeconds(date) {
        var second = "";
        second = date.getSeconds();
        if (second < 10) {
            second = "0" + second;
        }
        return second;
    }

    function queryPage(pageIndex){
        var dataObj = {
            "pageno":pageIndex+1,
            "pagesize":5
        };
        $.ajax({
           url:"teacher/queryPage",
           type:"post",
           data:dataObj,
           beforeSend:function () {
               layer.msg('数据查询中', {icon: 6});
           },
           success:function (result) {
               if(result.success){
                   var pageObj = result.data;
                   var list = pageObj.datas;
                   var content = "";
                   $("tbody").html(content);
                   $.each(list,function (i,n) {
                       content+="<tr>";
                       content+="	<td>"+(i+1)+"</td>";
                       content+="	<td><input  type='checkbox' value='"+n.id+"'></td>";
                       content+="	<td>"+n.name+"</td>";
                       content+="	<td>"+n.isStar+"</td>";
                       content+="	<td>"+n.education+"</td>";
                       content+="	<td>"+n.career+"</td>";
                       content+="	<td>"+datetimeFormat_2(n.createTime)+"</td>";
                       content+="	<td>"+n.sort+"</td>";
                       if(n.isStar=='1'){
                           content+="<td>高级讲师</td>";
                       }else {
                           content+="<td>首席讲师</td>";
                       }
                       content+="<td>";
                       content+="		<button type='button' class='btn btn-primary btn-xs' onclick='editTeacher("+n.id+")'>";
                       content+="			<i class=' glyphicon glyphicon-pencil'>修改</i>";
                       content+="		</button>";
                       content+="		<button  type='button' class='btn btn-danger btn-xs' onclick='deleteAdvert("+n.id+",\""+n.name+"\")'>";
                       content+="			<i class=' glyphicon glyphicon-remove'>删除</i>";
                       content+="		</button>";
                       content+="	</td>";
                       content+="</tr>";
                   });
                   $("tbody").html(content);
                   var num_entries = pageObj.totalsize;
                   $("#Pagination").pagination(num_entries, {
                       num_edge_entries: 1,
                       num_display_entries: 3,
                       callback: queryPage,
                       items_per_page:pageObj.pagesize,
                       current_page:(pageObj.pageno-1),
                       prev_text:"上一页",
                       next_text:"下一页"
                   });
               }else {
                   layer.msg("广告分页查询数据失败", {time:1000, icon:5, shift:6});
               }
           } ,
           error:function () {
               layer.msg("广告分页查询数据错误", {time:1000, icon:5, shift:6});
           } 
        });
    }
    $(function() {
        $("#btnExport").click(function() {
            var title = "woshi";
            var fileName = title;
            $("#tableExcel").tableExport({type: 'excel',escape: 'false',fileName: fileName,type: "csv"});
        });
    });


    function editTeacher(id){
        layer.open({
            type: 2,
            skin: 'layui-layer-lan',
            title: '修改密码',
            fix: false,
            shadeClose: true,
            maxmin: true,
            area: ['500px', '500px'],
            content: 'getTeacherById?id='+id
        });
    }

</script>

</body>
</html>